
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(60, 35, 84);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif

}
.nav{
background:rgb(153, 77, 153);
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left:20px;
  color:#fff;

}
.left{
    display: flex;
  flex-basis: 70%;
  justify-content: flex-start;
}
.right{
    display: flex;
  flex-basis: 30%;
  justify-content: flex-end;
}
.right1{
    background-color: rgb(173, 99, 173);
    height:40px;
    padding:10px 15px;
}
.right2{
    background-color: violet;
    padding:10px 15px;
    height:40px;
}
.text p{
    font-size: 12px;
}
.main{
  display: flex;
  flex-direction: column;
  margin:40px;
}
.parent1, .parent2, .parent3{
    display: flex;
    flex-direction: row;
    color: white;
}
.child1, .child10{
    background-color:rgb(108, 70, 145);
    flex-grow: 2.7;
    margin:5px;
}
.child2, .child3, .child5, .child6, .child7, .child8, .child9{
    background-color:rgb(108, 70, 145);
    margin:5px;
    flex-grow: 1;
}
.child4{
    background-color:rgb(108, 70, 145);
    padding: 40px;
    margin:5px;
    flex-grow: 1;
}
img{
    height:30vh;
    width:100%;
}
.text{
    padding:12px 15px;
}

.box{
    width:120px;
    height:380px;
}

button{
    padding: 15px;
    background-color: rgb(153, 78, 153);
    border-radius: 3px;
    border: none;
    color: white;
}
footer{
    padding-bottom: 10px;
    padding-left: 15px;
} 
span{
    padding-bottom: 15px;
    font-size: 12px;
    opacity: 0.5;
}
h3{
    font-size: 20px;
}
.head{
    font-size: 10px; 
    opacity: 0.5;
}
.child2 .head .head1{
    color:yellow;
} 
.child5 .head .head2{
    color:hotpink;
}
.child6 .head .head3{
    color:skyblue;
}
.child7 .head .head4{
    color:#fff;
}
.child8 .head .head5{
    color:#fff;
}
.child10 .head .head6{
    color:skyblue;
}
/*******media queries********/
@media screen and (max-width:690px){
    .nav{
          height: 40px;
          width: 100vh;
          display: flex;
          align-items: center;
        }
        .main{
            display: flex;
            flex-direction: column;
            margin:40px;
          }
          .parent1, .parent2, .parent3{
              display: flex;
              flex-direction: column;
              color: white;
          }
        img{
            height: 50vh;
        }
        .left{
            font-size: 8px;
        }
        .child4{
            padding: 8px;
        }
        h3{
            font-size: 8px;
            /* font-weight: 300; */
        }
        h1{
        font-size: 10px;
        }
        p{
            font-size: 7px;
        }
        button{
            height:auto;
            width: auto;
        }
       .box{
           height:100;
           width:300px;
       }
       footer{
           padding-bottom: 3px;
       }
}
@media screen and (max-width:775px){
    .nav{
          height: 40px;
          width: 100vh;
        }
        img{
            height: 20vh;
        }
        .right, .left{
            font-size: 14px;
        }
        .child4{
            padding: 10px;
        }
        h3,h1{
            font-size: 10px;
        }
        p{
            font-size: 8px;
        }
        button{
            padding: 2px;
            border-radius: 2px;
            height:auto;
            width: auto;
        }
       .box{
           height:2500px;
           width:700px;
       }
       footer{
           padding-bottom: 5px;
       }
}
@media screen and (max-width:890px){
    .nav{
          height: 40px;
          width: 100%;
          display: flex;
        }
        .right, .left{
            font-size: 14px;
        }
        h3{
            font-size: 10px;
        }
        h1{
        font-size: 20px;
        }
        p{
            font-size: 6px;
        }
        button{
            padding: 10px;
            border-radius: 3px;
        }
       .box{
           height:2500px;
           width:1200px;
       }
}
@media screen and (max-width:1074px){
    .nav{
          height: 40px;
          width: 100%;
          display: flex;
        }
        .right, .left{
            font-size: 19px;
        }
        h3{
            font-size: 19px;
            font-weight: 900;
        }
        h1{
        font-size: 32px;
        }
        p{
            font-size: 13px;
        }
        button{
            padding: 15px;
            border-radius: 3px;
        }
       .box{
           height:400px;
           width:500px;
       }
}